.App {
  max-width: 300px;
  align-self: center;
  margin: 0 auto;
}
h1 {
  padding: 2rem 0;
  text-align: center;
}
h4 {
  padding-bottom: 0.5rem;
}
hr {
  border: 0;
}
.income-expense-block {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  margin-top: 1rem;
}

.horizontal-line hr {
  width: 1px;
  height: inherit;
}
.horizontal-line {
  color: #000;
  background-color: #000;
}
.income-amount {
  color: green;
}
.expense-amount {
  color: red;
}

.padding-top-2 {
  padding-top: 2rem;
}
hr {
  height: 1px;
  background-color: #000;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
}

.history-card {
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-right: solid 10px;
  border-color: red;
}

.border-color-green {
  border-color: green;
}
